#mainmenu > div, #header > div,
#footer > div, #wrapper { 
	margin: 0 auto;
	width: 940px; 
}

#top { margin: 0 auto; margin-bottom: 25px; }

#top > div { background: url(../images/top_bg.png) repeat-x; }

#mainmenu { }

#header { padding: 20px 8px 20px 0; }

#wrapper { background: url(../images/content_bg.png); padding: 0 10px; }

#content { 
	background: url(../images/sidebarseparator.png) repeat-y scroll 690px 50%;
}

#component { 
	padding-right: 10px;
	width: 680px; 
}

#component img { padding: 5px 20px 10px 0px; }

#sidebar {
	float: left;
}

#footer { font-size: 10px; }

#footer > div > div > div {
	background: url(../images/footer_hr.png) bottom repeat-x;
}

#footer .left { color: white; }

#footer .right { color: white; }

#footer .right a,
#footer .right span {
	color: white;
	text-decoration: none;
}

#footer .right a:hover { }