#header > div, #top > div,
#footer > div, #header, #wrapper { 
	margin: 0 auto;
	width: 940px; 
}

#top { 
	background: url(../images/top_bg.png) repeat-x; 
	margin-bottom: 25px; 
}

#top > div {
	padding: 25px 0 20px;
	position: relative;
}

#header { 
	background: url(../images/footer_hr.png) bottom repeat-x;
	padding-bottom: 35px;
}
#header img {
	padding: 20px;
}

#wrapper { 
	background: url(../images/content_bg.png);
	padding: 20px 10px 0; 
}

#content { 
	background: url(../images/sidebarseparator.png) 3px 710px no-repeat;
}

#asdf {
	float: left;
	padding-right: 30px;
	width: 680px;
}

#component {
	
}

.home #component h1 {
	color: #d02c2b;
	padding-left: 0px;
	font-size: 14px;
}

#sidebar {
	float: left; 
	font-size: 12px;
	margin: 50px 0 0;
	padding: 0 0 0 30px;
	width: 200px;
}

.home #sidebar h3 {
	color: #d02c2b;
	margin-top: 0;
	padding: 0px 10px 10px 0;
}

.home #sidebar { margin: 20px 0 0; }

.home #sidebar img {
	padding: 5px 0 40px 15px;
}

#bottom {
	background: url(../images/footer_hr.png) top repeat-x;
}
#bottom_menu {
	background: url(../images/footer_hr.png) bottom repeat-x;
}

#bottom .moduletable {
	float: left;
	margin: 36px 0 10px 10px; /* fixme bottom padding */
	width: 305px; /* fixme */
}

#bottom .moduletable:first-child {
	margin-left: 0px;
}

#footer { font-size: 10px; color: white;}

#footer > div > div {
	background: url(../images/footer_hr.png) bottom repeat-x;
}

#footer .right a,
#footer .right span {
	color: white;
	text-decoration: none;
}