.moduletable { }

/* top menu begins */
#top .moduletable { font-size: 10px; }
#top .moduletable ul { 
	float: right; 
	list-style-type: none; 
	padding-top: 18px; 
	text-transform: uppercase; 
}
#top .moduletable li { display: inline; }
#top .moduletable li > a,
#top .moduletable li > span { 
	color: #cd39c8; 
	padding: 0 2px; 
	text-decoration: none;
}
#top .moduletable li > a:hover,
#top .moduletable li > span:hover { color: #d02c2b; }
#top .moduletable li > a:hover.separator,
#top .moduletable li > span:hover.separator { color: #cd39c8; }
/* top menu ends */

/* main menu begins */
.moduletable_menu { font-size: 12px; }
.moduletable_menu ul { 
	float: right; 
	list-style-type: none; 
	margin: 0 0 2px 0; 
	text-transform: uppercase;
 }
.moduletable_menu li { 
	float: left;
	margin: 0;
	position: relative;
}
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #FFFFFF; 
	display: block;
	line-height: 30px;
	margin: 0 0 1px 0;
	padding: 7px 0px 8px 30px;
	text-decoration: none;
}
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { color:#d02c2b; }
/* main menu ends */

/* bottom menu begins */
#footer .moduletable { 
	font-size: 10px;  
}
#footer .moduletable ul { padding-bottom: 20px; text-align: center; }
#footer .moduletable li { display: inline; }
#footer .moduletable li > a, 
#footer .moduletable li > span { 
	color: #cd39c8; 
	padding: 0 3px; 
	text-decoration: none; 
}
#footer .moduletable li > a:hover, 
#footer .moduletable li > span:hover { color: #d02c2b; }
#footer .moduletable li > a:hover.separator, 
#footer .moduletable li > span:hover.separator { color: #cd39c8; }
/* bottom menu ends */