.moduletable { }

/* main menu begins */
.moduletable_menu { font-size: 12px; }
.moduletable_menu ul { 
	list-style-type: none; 
	text-transform: uppercase;
 }
.moduletable_menu li { 
	float: left;
	margin: 0;
}
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #FFFFFF; 
	display: inline;
	line-height: 30px;
	margin: 0 0 1px 0;
	padding: 7px 0px 8px 20px;
	text-decoration: none;
}
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { color: #d02c2b; }

/* main menu ends */

/* small menu begins */
.moduletable_menu.smallmenu li > a, 
.moduletable_menu.smallmenu li > span {
	background: url(../images/menu_separator.png) 7px center no-repeat;
	color: #cd39c8; 
	padding-left: 15px;
}
.moduletable_menu.smallmenu li:first-child > a {
	background: none;
	padding-left: 0;
}
.moduletable_menu.smallmenu li > a:hover, 
.moduletable_menu.smallmenu li > span:hover {
	color: #d02c2b;
}

/* small menu ends */
#header .moduletable {
	padding: 28px 28px 28px 0;
}

/* top menu's begin */
#top .moduletable_menu.smallmenu {
	position: absolute;
	top: 0;
	right: 0;
}
#top .moduletable_menu.smallmenu li {
	font-size: 10px;
}

#top .moduletable_menu.largemenu {
	position: absolute;
	bottom: 0;
	right: 0;
}
/* top menu ends */

/* bottom menu begins */
#bottom_menu .moduletable_menu {
}
#bottom_menu .moduletable_menu.smallmenu { 
	font-size: 10px; 
}
#bottom_menu .moduletable_menu.smallmenu ul { 
	text-transform: capitalize;
}
/* bottom menu ends */
