.moduletable { }

/* main menu begins */
.moduletable_menu { font-size: 12px; }
.moduletable_menu ul { 
	list-style-type: none; 
	text-transform: uppercase;
	margin: 0;
 }
.moduletable_menu li { 
	display: inline-block; /* fixme ie crap, may need zoom */
	*display: inline;
	margin: 0;
	padding: 7px 0px 8px 20px;
}
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #FFFFFF; 
	text-decoration: none;
}
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { 
	background: url(..images/hover_img.png) right top no-repeat;
	color: #d02c2b;
}

/* main menu ends */

/* small menu begins */
.moduletable_menu.smallmenu li {
	background: url(../images/menu_separator.png) 7px center no-repeat;
	font-size: 10px;
	padding-left: 15px;
}
.moduletable_menu.smallmenu li:first-child{ background: none; }

.moduletable_menu.smallmenu li > a, 
.moduletable_menu.smallmenu li > span { color: #cd39c8; }

.moduletable_menu.smallmenu li > a:hover, 
.moduletable_menu.smallmenu li > span:hover { color: #d02c2b; }

/* small menu ends */

/* top menu's begin */
#top .moduletable_menu.smallmenu {
	position: absolute;
	top: 0;
	right: 0;
}

#top .moduletable_menu.largemenu {
	position: absolute;
	bottom: 0;
	right: 0;
}

#top .moduletable_menu.largemenu ul {
	padding-bottom: 10px;
}

#top .moduletable_menu.largemenu li {
	padding: 12px 20px 0 0;
}

#top .moduletable_menu.largemenu li:hover {
	background: url(../images/hover_img.png) right top no-repeat;
}
/* top menu ends */

/* bottom begins */
#bottom .moduletable img {
	padding: 0 26px 25px 0;
}
/* bottom ends */

/* bottom_menu begins */
#bottom_menu .moduletable_menu { 
	padding: 20px 0;
	text-align: center;
}
#bottom_menu .moduletable_menu ul { 
	text-transform: capitalize;
}
/* bottom_menu ends */
