.footer {
	color: white;
	font-size: 10px;
}

body {
	color: white;
	font-size: 12px;
	line-height: 1.5em;
}

p { 
	margin-top: 0; 
	padding-right: 10px;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	color: #d02c2b;
	font-size: 14px;
	padding: 20px 10px 10px 0;
}

#header h1 {
	color: #cd39c8;
	font-size: 20px;
	padding: 20px 20px 20px 30px;
}

#header h2 {
	padding-left: 30px;
}

#header .moduletable > img {
	padding-left: 30px;
}

#logo {
	float: left;
}


#bottom h2 {
	padding-bottom: 20px;
}