.footer {
	color: white;
	font-size: 10px;
}

#header h1 {
	color: #cd39c8;
	font-size: 20px;
	padding: 0 20px 0 30px;
}

#header .moduletable > img {
	padding-left: 30px;
}

#logo {
	float: left;
}


